#login-form,
#signup-form {
  width: 500px;
  margin: 0 auto;
  /* background-color: #fbaf32; */
  background-color: hsla(35, 100%, 50%, 0.6);
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 8px;
}

#login-button-nav{
  margin-top: 0px;
  background-color: yellow;
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 30px;
}
#login-button-nav:hover{
  transform: scale(1.2);
}

.login_empty_space{
  padding-top:100px;
  background-image: url("/static/img/carousel-1.jpg");

  /* Control the height of the image */
  min-height: 100vh;
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#h1 {
  text-align: center;
  color: white;
}

#form {
  display: flex;
  flex-direction: column;
}

#label {
  margin-top: 12px;
  color: #000000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 36px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 8px;
}

button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  height: 36px;
  margin-bottom: 8px;
}

button[type="button"] {
  width: 100%;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  height: 36px;
}
