<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hungry Panda</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link href="{{url_for('static',filename='img/favicon.ico')}}" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/owlcarousel/assets/owl.theme.default.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/owlcarousel/assets/owl.theme.default.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/owlcarousel/assets/owl.theme.green.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/owlcarousel/assets/owl.theme.green.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/flaticon/font/flaticon.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/animate/animate.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='lib/flaticon/font/flaticon.css')}}"
      rel="stylesheet"
    />

    <link
      href="{{url_for('static',filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css')}}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link
      href="{{url_for('static',filename='css/style.css')}}"
      rel="stylesheet"
    />

    <!-- Login CSS -->
    <link
      href="{{url_for('static',filename='css/login.css')}}"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    /> -->

    <!-- <link
      href="{{url_for('static',filename='css/login.css')}}"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <!-- Nav Bar Start -->
    <div>
      <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
          <a href="index.html" class="navbar-brand"
            >Hungry <span>Panda</span></a
          >
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarCollapse"
          >
            <div class="navbar-nav ml-auto">
              <a href="/" class="nav-item nav-link active">Home</a>
              <a href="/about" class="nav-item nav-link">About</a>
              <!-- <a href="feature.html" class="nav-item nav-link">Feature</a> -->
              <a href="/menu" class="nav-item nav-link">Menu</a>
              <!-- <a href="/team" class="nav-item nav-link">Chef</a> -->
              <a href="/order" class="nav-item nav-link">Order Now</a>
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  >Pages</a
                >
                <div class="dropdown-menu">
                  <a href="/blog" class="dropdown-item">Blog Grid</a>
                  <a href="single.html" class="dropdown-item">Blog Detail</a>
                </div>
              </div>
              <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    {% block body %} {% endblock %}

    <!-- Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="row">
              <div class="col-md-6">
                <div class="footer-contact">
                  <h2>Our Address</h2>
                  <p>
                    <i class="fa fa-map-marker-alt"></i>123 Street, New York,
                    USA
                  </p>
                  <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                  <p><i class="fa fa-envelope"></i>info@example.com</p>
                  <div class="footer-social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer-link">
                  <h2>Quick Links</h2>
                  <a href="">Terms of use</a>
                  <a href="">Privacy policy</a>
                  <a href="">Cookies</a>
                  <a href="">Help</a>
                  <a href="">FQAs</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="footer-newsletter">
              <h2>Newsletter</h2>
              <p>
                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum
                nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis
                felis, sed lacus neque id eros.
              </p>
              <div class="form">
                <input class="form-control" placeholder="Email goes here" />
                <button class="btn custom-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>Copyright &copy; <a href="#">Hungry</a>, All Right Reserved.</p>
          <p>
            Designed By
            <a
              target="_blank"
              href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjWwr2fo7L8AhWSwjgGHaYuD-UQFnoECBYQAQ&url=https%3A%2F%2Fin.linkedin.com%2Fin%2Fmohammed-nouman-ba501b231&usg=AOvVaw2GprJbyJpjVC9AGJzC_xlH"
              >Nouman</a
            >
          </p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/tempusdominus/js/moment.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>

    <!-- Contact Javascript File -->
    <script src="{{url_for('static',filename='mail/jqBootstrapValidation.min.js')}}"></script>
    <script src="{{url_for('static',filename='mail/contact.js')}}"></script>

    
    <script src="{{url_for('static',filename='mail/contact.js')}}"></script>
    <!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- login JavaScript -->
    <script src="{{url_for('static',filename='js/login.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
  </body>
</html>
