{%extends 'base.html' %} {% block body %}
<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Contact Us</h2>
      </div>
      <div class="col-12">
        <a href="">Home</a>
        <a href="">Contact</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="contact">
  <div class="container">
    <div class="section-header text-center">
      <p>Contact Us</p>
      <h2>Contact For Any Query</h2>
    </div>
    <div class="row align-items-center contact-information">
      <div class="col-md-6 col-lg-3">
        <div class="contact-info">
          <div class="contact-icon">
            <i class="fa fa-map-marker-alt"></i>
          </div>
          <div class="contact-text">
            <h3>Address</h3>
            <p>123 Street, NY, USA</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="contact-info">
          <div class="contact-icon">
            <i class="fa fa-phone-alt"></i>
          </div>
          <div class="contact-text">
            <h3>Call Us</h3>
            <p>+012 345 6789</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="contact-info">
          <div class="contact-icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="contact-text">
            <h3>Email Us</h3>
            <p>info@example.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="contact-info">
          <div class="contact-icon">
            <i class="fa fa-share"></i>
          </div>
          <div class="contact-text">
            <h3>Follow Us</h3>
            <div class="contact-social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row contact-form">
      <div class="col-md-6">
        <iframe
          src="https://www.google.com/maps/d/embed?mid=1FaLon_QxwqRkws-0C_x3ck3ru1s&hl=en_US&ehbc=2E312F"
          width="640"
          height="480"
        ></iframe>
      </div>
      <div class="col-md-6">
        <div id="success"></div>
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="control-group">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Your Name"
              required="required"
              data-validation-required-message="Please enter your name"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Your Email"
              required="required"
              data-validation-required-message="Please enter your email"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input
              type="text"
              class="form-control"
              id="subject"
              placeholder="Subject"
              required="required"
              data-validation-required-message="Please enter a subject"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <textarea
              class="form-control"
              id="message"
              placeholder="Message"
              required="required"
              data-validation-required-message="Please enter your message"
            ></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div>
            <button class="btn custom-btn" type="submit" id="sendMessageButton">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->

{% endblock %}
